 /* App */

 .app {
   background-color: #262626;
   min-height: 100vh;
 }

 .start {
   position: absolute;
   right: 34px;
   bottom: 27px;
 }

 .quicks {
   position: absolute;
   bottom: 3px;
   right: 0;
   cursor: pointer;
 }

 /* Menu */

 .inbox-start {
   position: absolute;
   right: 4px;
   bottom: 8px;
   opacity: 0;
   transition: all 300ms;
 }

 .inbox {
   position: absolute;
   right: 94px;
   bottom: 8px;
   opacity: 100;
   transition: all 300ms;
 }

 .inbox-title {
   color: #F2F2F2;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
 }

 .inbox-button {
   margin-top: 10px;
   margin-left: 0;
   cursor: pointer;
 }

 .task-start {
   position: absolute;
   right: 94px;
   bottom: 8px;
   opacity: 0;
   transition: all 300ms;
 }

 .task {
   position: absolute;
   right: 180px;
   bottom: 8px;
   opacity: 100;
   transition: all 300ms;
 }

 .task-title {
   color: #F2F2F2;
   font-weight: bold;
   font-size: 16px;
   text-align: center;
 }

 .task-button {
   margin-top: 10px;
   margin-left: 4.3px;
   cursor: pointer;
 }

 .inbox-open {
   position: absolute;
   bottom: 11px;
   right: 4px;
 }

 .task-open {
   position: absolute;
   bottom: 3px;
   right: 0;
 }

 .back-menu-start {
   position: absolute;
   bottom: 11px;
   right: 4px;
   cursor: pointer;
   transition: all 300ms;
 }

 .back-menu {
   position: absolute;
   bottom: 11px;
   right: 19px;
   cursor: pointer;
   transition: all 300ms;
 }

 .other-icon-start {
   position: absolute;
   right: 4px;
   bottom: 8px;
   opacity: 0;
   transition: all 300ms;
 }

 .other-icon {
   position: absolute;
   right: 100px;
   bottom: 8px;
   opacity: 100;
   transition: all 300ms;
 }

 .inbox-card-start {
   padding: 24px 32px;
   background-color: #FFFFFF;
   width: 720px;
   height: 240px;
   position: absolute;
   bottom: 94px;
   right: 4px;
   border-radius: 5px;
   transition: all 300ms;
 }

 .inbox-card {
   padding: 24px 32px;
   background-color: #FFFFFF;
   width: 720px;
   height: 740px;
   position: absolute;
   bottom: 94px;
   right: 4px;
   border-radius: 5px;
   transition: all 300ms;
 }

 .inbox-container {
   padding: 0 10px 0 0;
   width: 676px;
   height: 630px;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .search {
   margin: 0 0 22px 0;
 }

 .loading {
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
 }

 .inbox-container .line {
   margin: 22px 0;
   background-color: #828282
 }

 .inbox-container .item {
   display: flex;
   cursor: pointer;
 }

 .inbox-container .profile {
   width: 10%;
   margin-right: 10px;
   text-align: center;
 }

 .inbox-container .content {
   width: 70%;
 }

 .inbox-container .title {
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   color: #2F80ED;
 }

 .inbox-container .sender {
   margin: 10px 0 0 0;
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
 }

 .inbox-container .message {
   margin: 5px 0 0 0;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
 }

 .inbox-container .info {
   width: 20%;
 }

 .inbox-container .time {
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: right;
 }

 .inbox-container .info img {
   padding: 20px 0 0 0;
   float: right;
 }

 /* RoomChat */

 .room-chat-start {
   z-index: 10;
   padding: 24px 32px;
   background-color: #FFFFFF;
   width: 0px;
   height: 640px;
   position: absolute;
   bottom: 0px;
   right: 0px;
   border-radius: 5px;
   transition: all 200ms;
 }

 .room-chat {
   z-index: 10;
   padding: 24px 32px;
   background-color: #FFFFFF;
   width: 720px;
   height: 740px;
   position: absolute;
   bottom: 0px;
   right: 0px;
   border-radius: 5px;
   transition: all 200ms;
 }

 .room-chat .header {
   display: flex;
   flex-direction: row;
   align-content: center;
   align-items: center;
 }

 .room-chat .back {
   text-align: center;
   width: 5%;
   margin: auto;
   margin-right: 10px;
   cursor: pointer;
 }

 .room-chat .info {
   margin: auto;
   width: 90%;
 }

 .room-chat .title {
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   color: #2F80ED
 }

 .room-chat .participant {
   padding: 6px 0 0 0;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0em;
   text-align: left;
 }

 .room-chat .close {
   text-align: center;
   width: 5%;
   margin: auto;
   margin-left: 15px;
   cursor: pointer;
 }

 .room-chat .devider {
   margin: 14px -32px;
   background-color: #828282
 }

 .room-chat .container {
   position: absolute;
   bottom: 75px;
   padding: 0 10px 0 0;
   height: 574px;
   width: 676px;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .room-chat .container-private {
   position: absolute;
   bottom: 75px;
   padding: 0 10px 0 0;
   height: 584px;
   width: 676px;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .room-chat .container-long-title {
   position: absolute;
   bottom: 75px;
   padding: 0 10px 0 0;
   height: 556px;
   width: 676px;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .room-chat .bubble-chat {
   margin: 0;
 }

 .room-chat .date-separator {
   margin: 20px 0;
   display: flex;
   align-items: center;
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: center;
 }

 .date-separator::before, .date-separator::after {
   content: '';
   flex: 1;
   border-bottom: 1px solid black;
 }

 .date-separator:not(:empty)::before {
   margin-right: 1em;
 }

 .date-separator:not(:empty)::after {
   margin-left: 1em;
 }

 .room-chat .red-separator {
   margin: 20px 0;
   border-color: #EB5757;
   color: #EB5757;
   display: flex;
   align-items: center;
   text-align: center;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
 }

 .room-chat .red-separator img {
   margin-left: 5px;
 }

 .red-separator::before, .red-separator::after {
   content: '';
   flex: 1;
   border-bottom: 1px solid #EB5757;
 }

 .red-separator:not(:empty)::before {
   margin-right: 1em;
 }

 .red-separator:not(:empty)::after {
   margin-left: 1em;
 }

 /* BubbleSend */

 .chat-send {
   text-align: right;
 }

 .chat-send .sender {
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   color: #9B51E0;
   margin-bottom: 4px;
   text-align: end;
 }

 .chat-send .content {
   display: flex;
   align-items: flex-start;
   justify-content: flex-end;
   margin-bottom: 10px;
 }

 .chat-send .content .menu {
   margin: 9px;
 }

 .chat-send .content .menu img {
   cursor: pointer;
 }

 .chat-send .chat-menu {
   border: 1px solid #BDBDBD;
   border-radius: 5px;
   position: absolute;
   background-color: #FFFFFF;
   width: 126px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
 }

 .chat-send .chat-menu hr {
   background-color: #BDBDBD;
   margin: 0 0 0 0;
 }

 .chat-menu .edit {
   color: #2F80ED;
   margin: 11px 17px;
   cursor: pointer;
 }

 .chat-menu .delete {
   margin: 11px 17px;
   color: #EB5757;
   cursor: pointer;
 }

 .chat-send .content .box {
   background: #EEDCFF;
   width: inherit;
   text-align: left;
 }

 .chat-send .content .box .message {
   margin: 10px;
   word-wrap: break-word;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   width: auto;
   max-width: 500px;
   min-width: 280px;
 }

 .chat-send .content .box .time {
   margin: 0 0 10px 10px;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0em;
   text-align: left;
 }

 /* BubbleReceive */

 .chat-receive {
   text-align: left;
 }

 .chat-receive .sender {
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   margin-bottom: 4px;
 }

 .chat-receive .content {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin-bottom: 10px;
 }

 .chat-receive .content .menu {
   margin: 9px;
   cursor: pointer;
 }

 .chat-receive .content .box {
   width: inherit;
   text-align: left;
 }

 .chat-receive .content .box .message {
   margin: 10px;
   word-wrap: break-word;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   width: auto;
   max-width: 500px;
   min-width: 280px;
 }

 .chat-receive .content .box .time {
   margin: 0 0 10px 10px;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px;
   letter-spacing: 0em;
   text-align: left;
 }

 /* SendChat */

 .chat-connecting {
   padding: 0 15px;
   display: flex;
   align-items: center;
   flex-direction: row;
   background-color: #E9F3FF;
   width: 664px;
   height: 54px;
   position: absolute;
   bottom: 76px;
   left: 24px;
 }

 .chat-connecting .info {
   font-size: 14px;
   font-style: normal;
   font-weight: 700;
   line-height: 17px;
   letter-spacing: 0em;
   text-align: left;
   margin: auto;
   margin-left: 15px;
 }

 .chat-footer {
   background-color: #FFFFFF;
   position: absolute;
   padding: 19px 24px;
   left: 0;
   bottom: 0;
   display: flex;
   align-items: center;
   flex-direction: row;
   align-content: center;
   border-radius: 5px;
 }

 /* task */

 .task-card-start {
   padding: 24px 32px;
   background-color: #FFFFFF;
   width: 720px;
   height: 240px;
   position: absolute;
   bottom: 94px;
   right: 4px;
   border-radius: 5px;
   transition: all 300ms;
 }

 .task-card {
   padding: 24px 32px;
   background-color: #FFFFFF;
   width: 720px;
   height: 740px;
   position: absolute;
   bottom: 94px;
   right: 4px;
   border-radius: 5px;
   transition: all 300ms;
 }

 .task-card-start .coming-soon {
   font-weight: bold;
   text-align: center;
   margin: 50% 0;
   opacity: 0;
   transition: all 300ms;
 }

 .task-card .coming-soon {
   font-weight: bold;
   text-align: center;
   margin: 50% 0;
   opacity: 100;
   transition: all 300ms;
 }

 .task-header {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
 }

 .task-content {
   margin: 22px 0 0 0;
   padding: 0 10px 0 0;
   width: 676px;
   height: 630px;
   overflow-x: hidden;
   overflow-y: scroll;
 }

 .task-content .info {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
 }

 .task-content .info .left {
   display: flex;
   align-items: center;
   align-content: center;
 }

 .task-content .title {
   margin: 0 0 0 22px;
   width: 356px;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   cursor: pointer;
 }

 .task-content .title-checked {
   margin: 0 0 0 22px;
   width: 356px;
   font-size: 16px;
   font-style: normal;
   font-weight: 700;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   text-decoration: line-through;
   color: #828282
 }

 .task-content .title-unset {
   margin: 0 0 0 22px;
   border: 1px solid #828282;
   border-radius: 5px;
   width: 380px;
   height: 40px;
   padding: 10px 14px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
   cursor: pointer;
 }

 .task-content .title-input {
   margin: 0 0 0 22px;
   /* border: 1px solid #828282; */
 }

 .task-content .title-input input {
   padding: 10px 14px;
   border: 1px solid #828282;
   border-radius: 5px;
   width: 380px;
 }

 .task-content .info .right {
   display: flex;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 17px;
   letter-spacing: 0em;
 }

 .task-content .limit {
   color: #EB5757;
   margin: 0 18px 0 0;
 }

 .task-content .date {
   margin: 0 10px 0 0;
 }

 .task-content .expand {
   margin: 0 10px 0 0;
 }

 .task-content .right img {
   cursor: pointer;
 }

 .task-content .task-menu {
   margin: 6px 0 0 0;
   border: 1px solid #BDBDBD;
   border-radius: 5px;
   position: absolute;
   right: 32px;
   background-color: #FFFFFF;
   width: 126px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
 }

 .task-content .task-menu .delete {
   margin: 11px 17px;
   color: #EB5757;
   cursor: pointer;
 }

 .task-content .details {
   margin: 17px 0 0 38px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   text-align: left;
 }

 .task-content .date-info {
   display: flex;
   align-content: center;
   align-items: center;
   justify-content: flex-start;
 }

 .task-content .date-info img {
   margin: 0 18px 0 0;
 }

 /* .task-content .set-date {
   padding: 0 12px 0 14px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 193px;
   height: 40px;
   border: 1px solid #828282;
   border-radius: 5px;
   cursor: pointer;
 }

 .task-content .set-date img {
   width: 16px;
   margin: 0
 } */

 .task-content .set-calendar {
   color: #4F4F4F;
 }

 .task-content .description {
   display: flex;
   align-content: center;
   align-items: flex-start;
   justify-content: flex-start;
 }

 .task-content .description img {
   margin: 15px 20px 15px 2px;
   cursor: pointer;
 }

 .task-content .set-description {
   margin: 15px 0 0 0;
   width: 543px;
   text-align: justify;
   text-justify: inter-word;
   cursor: pointer;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   color: #4F4F4F;
 }

 .task-content .set-description-input {
   margin: 11px 0 0 -6px;
   width: 543px;
 }

 .task-content .set-description-input textarea {
   border: 1px solid #E0E0E0;
   border-radius: 5px;
   padding: 5px;
   text-align: justify;
   text-justify: inter-word;
   width: 543px;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 19px;
   letter-spacing: 0em;
   color: #4F4F4F;
 }

 .task-content .devider {
   margin: 20px 0;
 }